body {
    font-size: 13pt;
}
#wrapper {
    max-width: 70ch; 
    margin: 10% auto;
	padding: 2ch;
}

mjx-container {
	overflow: scroll;
}


blockquote {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 2px solid lightgray;
} 

img {
	max-width: 75%;
	display: block;
	margin: 1em auto;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 1ch;
}

table {
	margin: auto; 
}

code {
	background-color: #f6f6f6;
	word-wrap: break-word;

	/*background-color: black;
	color: white;*/
	border-radius: 0.5em;
	font-size: 11pt;

}

pre {
	background-color: #f6f6f6;
	/*background-color: black;
	color: white;*/
	border-radius: 0.25em;
	padding: 1ch;
	overflow: scroll;
	font-size: 11pt;
	box-shadow: 2px 5px 5px lightgray;

}

.toc {	
	border-radius: 0.5em;
	border: 0.5px solid black;
	padding: 1ch; 

}

.toctitle {

	text-align: center; 
	display: block; 
	margin: auto;
}

.toclink {
	color: black;
	text-decoration: none;
}

.toclink:hover {
	text-decoration: underline;
}

.headerlink {
	/*margin-left: -2ch;
	margin-right: 0.75ch;
	color: lightgray;

	hiding these because I don't want to deal with mobile styling rn

*/
	display:none;
}

h1 > .headerlink {
	display:none;
}
